<div id="<%= dom_id blog %>">
  <p class="my-5">
    <%=
      if blog.title_image.attached?
        image_tag blog.title_image, class: "w-full h-full object-cover rounded-lg"
      else
        image_tag "https://media.coschedule.com/uploads/2021/03/52a85a8d-74c3-413f-9703-865ad8d604a0_catchy-blog-title-formulas.gif", class: "w-full h-full object-cover rounded-lg"
      end
    %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= blog.author.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= blog.title %>
  </p>
  <div class="no-tailwindcss-base">
    <p class="my-5">
      <strong class="block font-medium mb-1">Content:</strong>
      <%= blog.content.html_safe %>
    </p>
  </div>
  <p class="my-5">
    <strong class="block font-medium mb-1">Written on:</strong>
    <%= blog.created_at.strftime("%B %d, %Y") %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this blog", blog, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this blog", edit_blog_path(blog), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
