<%= simple_form_for @user, data: { controller: "edit-profile", action: "submit->edit-profile#submitForm", image: asset_path('profile.jpg') } do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <div class="flex flex-col gap-4 form-inputs py-4 mt-2">
    <div class="w-60 h-60 ring ring-primary rounded-full mx-auto md:mx-0">
      <% if @user.profile_picture.present? %>
        <%= link_to "Remove Profile Picture", user_profile_picture_path(@user), data: { turbo_method: :delete, edit_profile_target: "removeLink" }, class: "hidden" %>
        <%= image_tag @user.profile_picture, class: "w-full h-full object-cover rounded-full", data: { edit_profile_target: "preview" } %>
      <% else %>
        <%= image_tag 'profile.jpg', class: "w-full h-full object-cover rounded-full", data: { edit_profile_target: "preview" } %>
      <% end %>
    </div>
    <div class="">
      <%= f.label :profile_picture %>
      <div class="join w-full">
        <%= f.file_field :profile_picture,
          class:"file-input file-input-bordered file-input-primary w-full join-item",
          direct_upload: true,
          data: { edit_profile_target: "input", action: "change->edit-profile#upload" }
        %>
        <%= button_tag "Remove Image", class: "btn btn-error join-item", type: "button", data: { action: "click->edit-profile#removeImage" } %>
      </div>
    </div>
    <div class="flex flex-col">
      <%= f.label :name %>
      <%= f.text_field :name, class:"input input-bordered input-primary", data: {edit_profile_target: "name"} %>
      <p class="text-error hidden" data-edit-profile-target="nameError">Name cannot be blank!</p>
    </div>
    <div class="flex flex-col">
      <label for="email">Email <span>(can't be modified)</span></label>
      <div class="input text-gray-500 input-bordered flex items-center"><%= @user.email %></div>
    </div>
    <div class="flex flex-col">
      <%= f.label :bio %>
      <%= f.text_area :bio, rows: 5, class:"textarea textarea-primary", placeholder:"Share a brief biography or provide details about your preferred time and platform for communication" %>
    </div>
    <div class="flex gap-4 flex-col md:flex-row">
      <div class="flex flex-col w-full">
        <%= f.label :date_of_birth %>
        <%= f.date_field :date_of_birth, class:"input input-bordered input-primary" %>
      </div>
      <div class="flex flex-col w-full">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class:"input input-bordered input-primary", placeholder:"Without the country code e.g. 07XXXXXXXX" %>
      </div>
    </div>
    <%= f.submit "Update Profile", class:"btn btn-primary", data: { action: "click->edit-profile#submitForm" } %>
    <%= link_to 'Cancel', profile_path, class:"btn" %>
  </div>
<% end %>
