<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div>
            <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8">
                <h2 class="text-2xl font-bold">
                    Sign in to School
                </h2>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs mb-4">
                    <%= f.input :email, class: "input input-bordered input-primary w-full max-w-xs",
                                required: false,
                                placeholder: "name@company.com",
                                autofocus: true,
                                input_html: { autocomplete: "email" } %>
                    <%= f.input :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",
                                required: false,
                                placeholder:"••••••••",
                                input_html: { autocomplete: "current-password" } %>
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <div class="form-actions" >
                    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</section>