<div id="<%= dom_id course %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= course.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= course.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= course.duration %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= course.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this course", course, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this course", edit_course_path(course), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
