<div id="<%= dom_id certificate %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= certificate.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Qr code:</strong>
    <%= certificate.qr_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= certificate.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this certificate", certificate, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this certificate", edit_certificate_path(certificate), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
