<div>
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-300">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-2" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 me-3" alt="FlowBite Logo" />
        <span class="font-bold">
          <% if controller.controller_name == "pages" %>
            <%= controller.action_name.humanize %>
          <% elsif controller.controller_name == "users" %>
            <%= case controller.action_name
              when "show"
                "Profile"
              when "edit"
                "Edit Profile"
              else
                controller.action_name.humanize
              end %>
          <% else %>
            <%= controller.controller_name.humanize %>
          <% end %>
        </span>
      </div>
      <% if user_signed_in? %>
        <ul class="menu menu-horizontal">
          <div class="dropdown dropdown-bottom dropdown-end">
            <button role="button" tabindex="0" class="me-5 md:me-8 dropdown">
              <div class="flex gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
                <span class="badge badge-xs badge-primary -ms-4"></span>
              </div>
            </button>
            <ul class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li class="flex justify-center items-center h-12 font-semibold">You have no Notifications</li>
            </ul>
          </div>
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="avatar online cursor-pointer">
              <div class="w-10 rounded-full ring ring-primary hover:ring-gray-600 transition ring-offset-base-100 ring-offset-2">
                <% if current_user.profile_picture.attached? %>
                  <%= image_tag current_user.profile_picture, style: 'height:40px;width:40px;' %>
                <% else %>
                  <svg class="w-10 h-8 mt-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 18">
                    <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                  </svg>
                <% end %>
              </div>
            </label>
            <%# Profile Dropdown %>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <div class="flex justify-center font-semibold pt-2 pb-4">
                <%= current_user.name %>
              </div>
              <li>
                <%= link_to profile_path do %>
                  <svg class="w-[16px] h-[16px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 18">
                    <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                  </svg>
                  <span>
                    Profile
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to settings_path do %>
                  <svg class="w-[16px] h-[16px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M18 7.5h-.423l-.452-1.09.3-.3a1.5 1.5 0 0 0 0-2.121L16.01 2.575a1.5 1.5 0 0 0-2.121 0l-.3.3-1.089-.452V2A1.5 1.5 0 0 0 11 .5H9A1.5 1.5 0 0 0 7.5 2v.423l-1.09.452-.3-.3a1.5 1.5 0 0 0-2.121 0L2.576 3.99a1.5 1.5 0 0 0 0 2.121l.3.3L2.423 7.5H2A1.5 1.5 0 0 0 .5 9v2A1.5 1.5 0 0 0 2 12.5h.423l.452 1.09-.3.3a1.5 1.5 0 0 0 0 2.121l1.415 1.413a1.5 1.5 0 0 0 2.121 0l.3-.3 1.09.452V18A1.5 1.5 0 0 0 9 19.5h2a1.5 1.5 0 0 0 1.5-1.5v-.423l1.09-.452.3.3a1.5 1.5 0 0 0 2.121 0l1.415-1.414a1.5 1.5 0 0 0 0-2.121l-.3-.3.452-1.09H18a1.5 1.5 0 0 0 1.5-1.5V9A1.5 1.5 0 0 0 18 7.5Zm-8 6a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7Z"/>
                  </svg>
                  <span>
                    Settings
                  </span>
                <% end %>
              </li>
              <li>
                <button onclick="my_modal.showModal()">
                  <svg class="w-[16px] h-[16px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
                  </svg>
                  <span>
                    Sign Out
                  </span>
                </button>
              </li>
            </ul>
          </div>
        </ul>
      <% else %>
        <ul class="gap-5">
          <li><%= link_to 'Sign in', new_user_registration_path, class:"btn btn-primary" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
