<!DOCTYPE html>
<html data-theme="<%= cookies[:theme] if cookies[:theme].present? %>">
  <head>
    <title>RubyOnRailsLms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.17/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo" %>
  </head>
  <body>
    <%# Sidebar stuff %>
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <%= render partial: 'layouts/nav', locals: { user: @user } %>
        <%= render 'layouts/notice' %>
        <%# Main Page to be rendered %>
        <main class="container mx-auto overflow-x-hidden p-4">
          <%= yield %>
        </main>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>
    <%= render 'layouts/signoutModal' %>
  </body>
</html>
