<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsLms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%# Sidebar stuff %>
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <%= render 'layouts/nav' %>
        <%= render 'layouts/notice' %>
        <%# Main Page to be rendered %>
        <main class="container mx-auto p-4">
          <%= yield %>
        </main>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>
    <%= render 'layouts/signoutModal' %>
  </body>
</html>
