<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsLms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.17/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo" %>
    <script defer>
      function readURL(input) {
        var preview = document.getElementById('profile-picture-preview');
        var reader = new FileReader();
        reader.onload = function (e) {
          preview.src = e.target.result;
        };

        reader.readAsDataURL(input.files[0]);
      }

      function showMore() {
        const bioContent = document.getElementById('bio-content');
        if (navigator.vibrate) {
          navigator.vibrate(2);
        }
        bioContent.innerHTML = bioContent.getAttribute('data-full-bio');
      };

      // Function to set a cookie with a specified expiration time
      function setCookie(name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      }

      // Function to get the value of a cookie
      function getCookie(name) {
        var nameEQ = name + "=";
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i];
          while (cookie.charAt(0) === ' ') cookie = cookie.substring(1, cookie.length);
          if (cookie.indexOf(nameEQ) === 0) return cookie.substring(nameEQ.length, cookie.length);
        }
        return null;
      }

      // Function to switch theme
      function switchTheme(input) {
        document.documentElement.setAttribute('data-theme', input);
        setCookie('theme', input, 365); // Set the cookie to expire in 365 days
      }

      // Function to set the theme on page load
      function setThemeOnLoad() {
        const storedTheme = getCookie('theme');
        const themeSwitcher = document.getElementById('theme-switcher');

        // Set the theme from the cookie if available
        if (storedTheme) {
          document.documentElement.setAttribute('data-theme', storedTheme);

          // Set the selected value in the <select> element
          themeSwitcher.value = storedTheme;
        }
      }

      // Call setThemeOnLoad when the page loads
      document.addEventListener('turbo:load', setThemeOnLoad);
    </script>
  </head>
  <body>
    <%# Sidebar stuff %>
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <%= render partial: 'layouts/nav', locals: { user: @user } %>
        <%= render 'layouts/notice' %>
        <%# Main Page to be rendered %>
        <main class="container mx-auto overflow-x-hidden p-4">
          <%= yield %>
        </main>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>
    <%= render 'layouts/signoutModal' %>
  </body>
</html>
